body {
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("./assets/bg01.png");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("./assets/bg01.png");;
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("./assets/bg01.png");;
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("./assets/bg01.png");;
  background-color: #f7f7f7;
  background-position: top left, top left;
  background-repeat: repeat-x, repeat;
  background-size: 100% 30em, auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 13pt;
  color: #696969;
  font-weight: 300;
  line-height: 2.25em;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
